body{
	background-color: 2c3e50;
	color: white;
}
#topsection{
	background-color: skyblue;
}
.topheader{
	background-color: #DC143C;
}

#slogan{
	
	font-size: 40px;
	text-shadow: -5px 5px darkgrey;
	color: red;
	
}
.menu{
	padding-right: 50px;
	

}
.menu a{
	color: white;
}
.menu ul li a: hover{
	background-color: #eee;
	color: red;
}
.search{
	border-radius: 15px;
	padding-top: 5px;
	margin-top: 9px;
	margin-right: 85px;
	width: 30%;
	
	
}
.search:hover{
	background-color: #eeeeee;
}
#maincontent{
	border: 5px solid sunflower;
	padding: 5px;
	margin-bottom: 5px;
	

}


#footer2{
	background-color: black;
	height: 20%;
	width: 100%;
}
table{
	border-collapse:collapse;
}










